Source: uremixwelcome
Section: admin
Priority: optional
Maintainer: Daniel Coca <daniel.uremix@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: uremixwelcome
Architecture: all
Depends: python (>= 2.4), gir1.2-gtk-3.0 (>= 3.2.4), gir1.2-webkit-3.0 (>= 1.6.3), uremix-info, python-configobj
Description: Welcome screen for Uremix Linux
 Shows important information about the release/edition of Uremix Linux. 
